{% extends 'v2ray/base.html' %}
{% block title %}{{ _('cài đặt') }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .ant-card + .ant-card {
            margin-top: 20px;
        }

        .ant-card:last-of-type {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <transition name="list" appear>
                <a-card title="{{ _('cập nhật tài khoản và mật khẩu') }}" hoverable>
                    <a-form layout="inline">
                        <a-form-item label="{{ _('tài khoản cũ') }}">
                            <a-input v-model.trim="user.old_username"></a-input>
                        </a-form-item>
                        <p><a-form-item label="{{ _('mật khẩu cũ') }}">
                            <a-input v-model.trim="user.old_password" type="password"></a-input>
                        </a-form-item></p>
                        <p><a-form-item label="{{ _('tài khoản mới') }}">
                            <a-input v-model.trim="user.username"></a-input>
                        </a-form-item></p>
                        <p><a-form-item label="{{ _('mật khẩu mới') }}">
                            <a-input v-model.trim="user.password" type="password"></a-input>
                        </a-form-item></p>
                        <p><a-form-item>
                            <a-button type="primary" @click="updateUser()">{{ _('cập nhật ngay') }}</a-button>
                        </a-form-item></p>
                    </a-form>
                </a-card>
                </transition>
                <transition name="list" appear>
                <a-card title="{{ _('cài đặt') }}" hoverable>
                    <a-table :data-source="settings" :columns="columns"
                             :pagination="false" bordered>
                        <template slot="name" slot-scope="text, setting">
                            [[ text ]]
                            <a-tooltip v-if="!isEmpty(setting.tip)">
                                <template slot="title">
                                    [[ setting.tip ]]
                                    <template v-if="setting.need_restart">
                                        {{ _('khởi động lại giao diện sau khi cập nhật') }}
                                    </template>
                                </template>
                                <a-icon type="question-circle" theme="filled"></a-icon>
                            </a-tooltip>
                        </template>
                        <template slot="value" slot-scope="text">
                            [[ text.length > 50 ? text.substr(0, 50) + ' ...' : text ]]
                        </template>
                        <template slot="action" slot-scope="text, record">
                            <a-button v-if="!isEmpty(record.value_type)" type="primary" icon="edit"
                                      @click="openEdit(record)"></a-button>
                        </template>
                    </a-table>
                </a-card>
                </transition>
            </a-layout-content>
        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        const columns = [{
            title: '{{ _('tên') }}',
            dataIndex: 'name',
            align: 'center',
            width: '30%',
            scopedSlots: { 'customRender': 'name' },
        }, {
            title: '{{ _('giá trị') }}',
            dataIndex: 'value',
            align: 'center',
            width: '70%',
            scopedSlots: { 'customRender': 'value' },
        }, {
            title: '{{ _('chỉnh sửa') }}',
            dataIndex: 'action',
            align: 'center',
            scopedSlots: { 'customRender': 'action' },
        }];

        const settings_translate = {
            address: {
                name: '{{ _('Ip đang sử dụng') }}',
                tip: "{{ _('Hãy cẩn thận sửa đổi nó! ! ! Nếu bạn đang sử dụng phần mềm như nginx, bạn có thể đặt cài đặt này thành 127.0.0.1 để thế giới bên ngoài không thể truy cập trực tiếp vào bảng điều khiển. Hoặc đặt thành trống để nghe tất cả địa chỉ IPv4 và IPv6. Đừng thay đổi nó nếu bạn không hiểu.') }}",
            },
            port: {
                name: '{{ _('port truy cập bảng điều khiển') }}',
                tip: '',
            },
            base_path: {
                name: '{{ _('đường dẫn root của web') }}',
                tip: "{{ _('Hãy cẩn thận sửa đổi nó! ! ! Bạn có thể điền vào đường dẫn gốc của trang tính cách của mình, chẳng hạn như /v2-ui, đường dẫn này trống theo mặc định. Nếu phần điền phải bắt đầu bằng / và không thể kết thúc bằng /, lỗi sẽ dẫn đến các bảng không thể truy cập được.') }}",
            },
            cert_file: {
                name: '{{ _('đường dẫn tệp chứng chỉ SSL') }}',
                tip: "{{ _('Hãy cẩn thận sửa đổi nó! ! ! Đường dẫn tuyệt đối là bắt buộc và lỗi sửa đổi sẽ ngăn bảng điều khiển khởi động.') }}",
            },
            key_file: {
                name: '{{ _('đường dẫn key SSL') }}',
                tip: "{{ _('Hãy cẩn thận sửa đổi nó! ! ! Đường dẫn tuyệt đối là bắt buộc và lỗi sửa đổi sẽ ngăn bảng điều khiển khởi động.') }}",
            },
            login_title: {
                name: '{{ _('Tiêu đề trang đăng nhập') }}',
                tip: '',
            },
            {#v2_config_path: {
                name: '{{ _('đường dẫn file v2ray config.json') }}',
                tip: '{{ _('Hãy cẩn thận sửa đổi nó! ! ! Cấu hình v2ray kết quả được ghi vào tệp của cấu hình này và thường không cần sửa đổi.') }}',
            },#}
            v2_template_config: {
                name: '{{ _('cấu hình v2ray mẫu') }}',
                tip: '{{ _('Hãy cẩn thận sửa đổi nó! ! ! Hãy chắc chắn rằng bạn đã rất quen thuộc với cấu hình của v2ray, vui lòng không xóa cấu hình về api.') }}',
            },
            v2_config_check_interval: {
                name: '{{ _('Thời gian thay đổi có hiệu lực') }} ({{ _('giây') }})',
                tip: '{{ _('Số lượng quá nhỏ có thể dẫn đến việc sử dụng CPU tăng lên, điền vào số 0 hoặc số âm tự chịu rủi ro.') }}',
            },
            v2_restart_cmd: {
                name: '{{ _('lệnh khởi động lại v2ray') }}',
                tip: '{{ _('Khi v2ray cần được khởi động lại, bảng điều khiển sẽ tự động chạy lệnh này để khởi động lại v2ray, nói chung là không cần sửa.') }}',
            },
            traffic_job_interval: {
                name: '{{ _('khoảng thời gian thống kê lưu lượng') }} ({{ _('giây') }})',
                tip: '{{ _('Số lượng quá nhỏ có thể dẫn đến việc sử dụng CPU tăng lên, điền vào số 0 hoặc số âm tự chịu rủi ro.') }}',
            },
            {#reset_traffic_day: {
                name: '{{ _('Reset traffic day') }}',
                tip: '{{ _('0 means no reset, greater than 0 will reset all users traffic every month on the set date, time depends on server time zone.') }}',
            },#}
            {#v2ctl_cmd_path: {
                name: '{{ _('v2ctl command location') }}',
                tip: '{{ _('Usually do not have to modify.') }}',
            },#}
        };

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                tableLoading: false,
                columns: columns,
                settings: [],
                user: {},
            },
            methods: {
                loading(tableLoading=true) {
                    this.tableLoading = tableLoading;
                },
                getSettings() {
                    this.loading();
                    get({
                        url: '/server/settings',
                        success: data => {
                            this.loading(false);
                            this.setSettings(data);
                        },
                        error: () => this.loading(false)
                    });
                },
                setSettings(settings) {
                    for (let i = 0; i < settings.length; ++i) {
                        let setting = settings[i];
                        let key = setting.key;
                        if (settings_translate[key]) {
                            setting.name = settings_translate[key].name;
                            setting.tip = settings_translate[key].tip;
                        } else {
                            settings.splice(i, 1);
                            --i;
                        }
                    }
                    settings.unshift({name: '{{ _('phiên bản V2ray core') }}', value: '{{ v2ray_version }}'});
                    settings.unshift({name: '{{ _('phiên bản panel hiện tại') }}', value: '{{ cur_ver }}'});
                    this.settings = settings;
                },

                openEdit(setting) {
                    switch (setting.value_type) {
                        case 'int': this.openEditInt(setting); break;
                        case 'text':
                        case 'textarea': this.openEditText(setting); break;
                        case 'bool': this.openEditBool(setting); break;
                        default: this.$error({title: '{{ _('lỗi') }}', content: '{{ _('loại không được hỗ trợ') }}'});
                    }
                },
                openEditInt(setting) {
                    this.openEditPrompt(setting, 'number');
                },
                openEditText(setting) {
                    this.openEditPrompt(setting, setting.value_type);
                },
                openEditBool(setting) {

                },
                openEditPrompt(setting, promptType) {
                    promptModal.open({
                        title: '{{ _('cập nhật') }} - ' + setting.name,
                        type: promptType,
                        value: setting.value,
                        confirm: value => {
                            this.edit(setting, value.toString());
                        },
                    });
                },
                edit(setting, value) {
                    let data = clone(setting);
                    data.value = value;
                    post({
                        url: '/server/setting/update/' + setting.id,
                        data: data,
                        success: data => {
                            if (data.success) {
                                this.getSettings();
                            }
                        }
                    });
                },
                updateUser() {
                    if (isEmpty(this.user.old_username)) {
                        this.$message.warning('{{ _('vui lòng nhập tên người dùng cũ') }}');
                    } else if (isEmpty(this.user.old_password)) {
                        this.$message.warning('{{ _('vui lòng nhập mật khẩu cũ') }}');
                    } else if (isEmpty(this.user.username)) {
                        this.$message.warning('{{ _('vui lòng nhập tên người dùng mới') }}');
                    } else if (isEmpty(this.user.password)) {
                        this.$message.warning('{{ _('vui lòng nhập mật khẩu mới') }}');
                    } else {
                        post({
                            url: '/server/user/update',
                            data: this.user,
                            success: data => {
                                if (data.success) {
                                    this.user = {};
                                }
                            },
                        });
                    }
                }
            },
            mounted() {
                this.setSettings({{ settings | safe }});
                if (!docCookies.getItem('close_setting_tip')) {
                    const h = this.$createElement;
                    this.$confirm({
                        title: '{{ _('LƯU Ý') }}',
                        content: h('div', {}, [
                            h('p', '{{ _('Hầu hết các mục cấu hình trên trang này liên quan trực tiếp đến sự tồn tại của bảng điều khiển và v2ray.') }}'),
                            h('p', '{{ _('Việc sửa đổi giá trị sai sẽ khiến bảng không thể khởi động, khi đó bạn phải đặt lại tất cả các giá trị.') }}'),
                            h('p', '{{ _('Hãy tự sao lưu. Nếu dữ liệu bị mất, tôi sẽ không chịu trách nhiệm.') }}'),
                        ]),
                        okText: '{{ _('understood') }}',
                        cancelText: '{{ _('không nhắc') }}',
                        closable: true,
                        onCancel: () => {
                            let vEnd = new Date().getTime() + 1000 * 3600 * 24 * 365;
                            vEnd = new Date(vEnd);
                            docCookies.setItem('close_setting_tip', true, vEnd, '/');
                        },
                    });
                }
            }
        });

    </script>
    {% include 'common/prompt_modal.html' %}
{% endblock %}